# Day 1

# Reg Ex

1. Two types of patterns will be there in Reg-Ex
- Simple pattern here we use "In" operator to identify
- Complex Pattern here we use "Reg ex"

In [2]:
import re

In [3]:
re.search("a","haririwnjdnjnfjnfknchandan")

In [4]:
var1="hi hari how are you"

re.search("hi",var1)

## it gives start index and end index

1. Regularexpressions

# Reg Ex

- Two types of patterns will be there in Reg-Ex
- Simple pattern here we use "In" operator to identify
- Complex Pattern here we use "Reg ex"

In [5]:
import re

re.search("a","haririwnjdnjnfjnfknchandan")

var1="hi hari how are you"

re.search("hi",var1)

## it gives start index and end index import re

In [2]:
re.search("a","baaaca")

- Here span is telling u in which postion your search has found a match.
- match gives what it matched

In [3]:
if re.search("a","baa"):
    print("match is found")
else:
    print("match not found")

match is found

In [5]:
re.search("f",'abcde')

# It didnt return any output

- Match object is nothing but "truth value" if match is true it returns "match object " other wise it wont give match object

In [6]:
re.search("[b12c]","aa1cbd")

# Findall()

In [6]:
print("search--->",re.search("hari","hari and harika both are friends"))
print("findall--->",re.findall("hari","hari is data scientist harika is data analyst "))

search---> <re.Match object; span=(0, 4), match='hari'>
findall---> ['hari', 'hari']

- Here the main differnce between search and findall 
- search is  only showing  starting match i.e hari where as findall give all matches found which satisfies the condition here "hari" is the condition

In [6]:
re.findall("[a12c]","aa1cdb")

['a', 'a', '1', 'c']

In [10]:
re.search("[2a12]","2aa1cb")

In [11]:
a = "hari is 1234"
re.findall("[a14]",a)

['a', '1', '4']

- It finds all the patterns which are mentioned

In [3]:
var1 = "saxon sir is teaching ml"

re.findall("[a-z][a-z]",var1)

#checking 2 characters at a time

['sa', 'xo', 'si', 'is', 'te', 'ac', 'hi', 'ng', 'ml']

- It is checking 2 letters at a time if there are existing then it prints them

In [11]:
var1 = "saxon sir 201 is 3q1 searching 300 ml algorithms"

re.findall("[0-9][a-z][0-9]",var1)

['3q1']

In [6]:
a = "hari is aa1223a data scientist"

re.findall("[a-z][0-9]",a)

# Here a character and number i need and there is only one pattern found

['a1']

In [13]:
var1 = "saxon sir 201 is 3q1 searching 300 ml algorithms @ ** ##"


re.findall("[a-zA-Z0-9][a-zA-Z0-9]",var1)

# Here frst,second can be [a-z or A-Z or 0-9] gives all with two characters

['sa',
 'xo',
 'si',
 '20',
 'is',
 '3q',
 'se',
 'ar',
 'ch',
 'in',
 '30',
 'ml',
 'al',
 'go',
 'ri',
 'th',
 'ms']

In [10]:
b = "12AAH3 hari 345hari dataAN"

re.findall("[a-zA-Z0-9][a-zA-Z0-9][a-zA-Z0-9]",b)

['12A', 'AH3', 'har', '345', 'har', 'dat', 'aAN']

#### Dot Character

In [14]:
var1 = " i love biryani in 123 street"

re.findall(".",var1)

# It matches each character except /n new line

[' ',
 'i',
 ' ',
 'l',
 'o',
 'v',
 'e',
 ' ',
 'b',
 'i',
 'r',
 'y',
 'a',
 'n',
 'i',
 ' ',
 'i',
 'n',
 ' ',
 '1',
 '2',
 '3',
 ' ',
 's',
 't',
 'r',
 'e',
 'e',
 't']

In [16]:
a = "varshi i\ns no####t doi$$$$$ng p\nr@ctice%%%% sh&&&&e \nis W@stend 2 hours"

re.findall(".........",a)

['s no####t', ' doi$$$$$', 'r@ctice%%', '%% sh&&&&', 'is W@sten', 'd 2 hours']

In [17]:
var1 = " i love biryani in \n123 street"

re.findall("..",var1)

# it matches frst 2 characters alphanumric and space it ignores \bn as it is new line

[' i',
 ' l',
 'ov',
 'e ',
 'bi',
 'ry',
 'an',
 'i ',
 'in',
 '12',
 '3 ',
 'st',
 're',
 'et']

#### \w it matches any alphabets numbers including `"_"` skips space

In [18]:
var1 = " i love bSSiryaAAn@@i in \n123 street __"

re.findall("\w\w",var1)

['lo', 've', 'bS', 'Si', 'ry', 'aA', 'An', 'in', '12', 'st', 're', 'et', '__']

In [26]:
var1 = " i __ lo__ve bi_r_yani in \n123 street __"

re.findall("\w\w\w",var1)

#checks frst 3 letters are alphanumeric or "_"

['lo_', '_ve', 'bi_', 'r_y', 'ani', '123', 'str', 'eet']

#### \W it matches `only space \n & special characters` it reverse of \w

In [68]:
var1 = " i@ __ l*o__v%e bi_r_yani in \n123 s\ntreet __"

re.findall("\W",var1)

# it only checks frst characte is space or \n or special characters

[' ', '@', ' ', ' ', '*', '%', ' ', ' ', ' ', '\n', ' ', '\n', ' ']

In [67]:
var1 = " i __ lo__ve bi_r_yan**i &&in \n####12@@@@3 street __"

re.findall("\W\W",var1)

# it only checks frst 2 characters  is space or \n or spcial characters

['**', ' &', ' \n', '##', '##', '@@', '@@']

In [22]:
c = "hari 1213 # @ "

re.findall("\w\w",c)

['ha', 'ri', '12', '13']

In [21]:
a = "h@@@@ %%%%%\n &&7**"

re.findall("\W\W\W",a)

['@@@', '@ %', '%%%', '%\n ']

In [2]:
import re

#### Complex pattern where frst char should be `alphanumeric & "_"` second & third characters should take `space & \n or special characters`

In [5]:
var1 = " i@ __ lo__ve bi_r_yani in \n@@@@123 stree()t __"

re.findall("\w\W\W",var1)

['i@ ', 'n \n', 'e()']

In [23]:
d = "h@r# 233 &* _A _b"

re.findall("\w\W",d)

['h@', 'r#', '3 ', 'A ']

#### Complex pattern where `second char` should be `alphanumeric & "_"` and `first character` should take `space & \n and special characters`

In [64]:
var1 = " i __ lo__ve bi_r_ya####ni in \n123 stree@@@t*** __"

re.findall("\W\w",var1)

[' i', ' _', ' l', ' b', '#n', ' i', '\n1', ' s', '@t', ' _']

#### `\D` matches everything except numbers  `\d` it should have only numbers

In [27]:
var1 = " i\n\n __ lo_$$$_ve b123AAAi_r_@@@ya##ni in \n123 street __"

re.findall("\D\D\D",var1)

[' i\n',
 '\n _',
 '_ l',
 'o_$',
 '$$_',
 've ',
 'AAA',
 'i_r',
 '_@@',
 '@ya',
 '##n',
 'i i',
 'n \n',
 ' st',
 'ree',
 't _']

In [33]:
d = "h@ # $ 8@643#829%4094 4(5) ** _5_ 9\nad"

re.findall("\d\D",d)

['8@', '3#', '9%', '4 ', '4(', '5)', '5_', '9\n']

In [30]:
var1 = " i __ lo__ve bi_r_123ya78ni 7377392in \n123 street __"

re.findall("\d\d\d",var1)

#frst 3 letters should be numbers

['123', '737', '739', '123']

In [26]:
a = "hari 234 is going 9998"

re.findall("\d",a)

['2', '3', '4', '9', '9', '9', '8']

#### `\s` it matches  space & new line `\S` except space & new line it matches everythinng

In [38]:
var1 = " i __ lo__ve bi_r_123ya7**$#8ni 7377392in \n123 street __"

re.findall("\s",var1)

# matches only "space & \n"

[' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ']

In [28]:
var1 = " i __ lo__ve bi_r_123ya78##@@ni 7377...392in \n123 street __"

re.findall("\S\S\S",var1)

# it matches evrthing except "space & newline"

['lo_',
 '_ve',
 'bi_',
 'r_1',
 '23y',
 'a78',
 '##@',
 '@ni',
 '737',
 '7..',
 '.39',
 '2in',
 '123',
 'str',
 'eet']

In [41]:
## Complex example

b=" @  \n & 8 * ##  _  __ \n8 \n9"

re.findall("\s\S",b)

[' @', ' &', ' 8', ' *', ' #', ' _', ' _', '\n8', '\n9']

In [50]:
var1 = " i __ lo__ve bi_r_123ya78ni 73773@@92##in \n123 street __"

re.findall("\s",var1)

[' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ']

# Anchors 
- ^  Starting   $ - End 
- \b  Boundary condition use r string)

#### `^` it checks wheather the starting letter is satisfying the condition or not

In [36]:
var1 = "idwjdbks __ lo__ve bi_r_123ya78ni 7377392in \n123 street __"

re.findall("^[A-Z]",var1)


# is the first letter starting with "capital letter " or not hence it fails the condition so out put is empty list

[]

In [38]:
var1 = "idwjdbks __ lo__ve bi_r_123ya78ni 7377392in \n123 street __"

re.findall("^[a-z][a-z]",var1)


#starting 2 letters are they strting with "small letter" or not

['id']

In [43]:
var1 = "idwjdbks __ lo__ve gH bi_r_123ya78ni 7377392in \n123 street __"

re.findall("\A[a-z][A-Z]",var1)

#frst letter should start with small and second letter should be capital

[]

In [29]:
a = "hari @ hn344 jk"

re.findall("^[a-z][a-z]",a)

['ha']

In [59]:
## complex exsmple

d = "jfdawefjnewjnf#@@@"

re.findall("\W\W\W$",d)

['@@@']

In [67]:
## complex

e = "@1 j\nhdnkqnfknekfnk"

re.findall("^\W\d\s\w\s",e)

['@1 j\n']

#### to check ending letter use `\Z` or `$`

In [30]:
var1 = "idwjdbks __ lo__ve gH bi_r_123ya78ni 7377392in \n123aL street __aA"

re.findall("[a-z][A-Z]\Z",var1)

# ending frst letter is small last letter is capital

['aA']

In [54]:
var1 = "idwjdbks __ lo__ve gH bi_r_123ya78ni 7377392in \n123 street __aA"

re.findall("[a-z][A-Z]$",var1)

['aA']

#### `\b` starting boundary can be anything it works only when u give `r` string alnumeric and _

In [69]:
var1 = "ii b ii ii ii ghii "
re.findall("[i][i]",var1)

# here in each word either strting middle i

['ii', 'ii', 'ii', 'ii', 'ii']

In [70]:
var1 = "ii b ii ii ii "
re.findall(r"\bii",var1)

# It matches only starting with "ii"

['ii', 'ii', 'ii', 'ii']

In [63]:
var1 = " i __ lo__ve bi_r_123ya78ni 7377392in \n123 street __"

re.findall("\W",var1)

[' ', ' ', ' ', ' ', ' ', ' ', '\n', ' ', ' ']

In [ ]:
# Anchors 

* \b checks the starting of every word when it is given starting.
* \b if it gives last it checks words from last  either it ends with characters and 0-9,_

In [34]:
var1 = "@hdjkkkl"

re.findall(r"\b[a-zA-Z][a-zA-Z][a-zA-Z][a-zA-Z]\b",var1)

# startign and ending with thses 4 lettsers or not

[]

In [15]:
var1 = "@hdjwdk"

re.findall(r"[a-zA-Z][a-zA-Z][a-zA-Z][a-zA-Z]\b",var1)


# Hence they ends with characters so outpt is displayed

['jwdk']

In [18]:
var2 = "@hari @manoj @munnu twkdsqk sqjsqn qknskqdnkd anmla"

re.findall(r"\b[a-z][a-z][a-z]",var2)

# here we use function "\b"
# It dont do anything with special chacaters ut skips them from next character it calculates

['har', 'man', 'mun', 'twk', 'sqj', 'qkn', 'anm']

In [34]:
 var1 = "ahdsid udiqid aaa"
re.findall("[a-z][a-z]",var1)

# It is normal static not using any function

['ah', 'ds', 'id', 'ud', 'iq', 'id', 'aa']

In [16]:
s = "abcd@#hahddid"

re.findall(r"\b[a-z][a-z][a-z]",s)

['abc', 'hah']

In [31]:
d = "@@hari #hari \nhari  hari"

re.findall(r"\B",d)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [37]:
a = "sndkn@@@%%***"

re.findall(r"\B%",a)

['%', '%']

In [38]:
a = "sndkn@@@%%***"

re.findall(r"\B[%@*]",a)

['@', '@', '%', '%', '*', '*', '*']

In [40]:
# imp

d = "hdjd#@#jd____dfd@#"

re.findall(r"_\B",d)

['_', '_', '_', '_']

# 2nd Day

In [42]:
d = "aaaaa aa aaa bbb"

re.findall("a*",d)

# matching when a is presernt if not found return space 
# adding space at end because of newline default created in creating string

['aaaaa', '', 'aa', '', 'aaa', '', '', '', '', '']

In [48]:
e = "baab baab baaaabaaaaab bb"

re.findall("ba*b",e)

#compare them

['baab', 'baab', 'baaaab', 'bb']

In [47]:
e = "baab baab baaaabbaaaaabbaaaaab bb"

re.findall("ba*b",e)

['baab', 'baab', 'baaaab', 'baaaaab', 'baaaaab', 'bb']

In [6]:
a = "i love innomatlics "

re.findall(r"\bl",a)

# Here i am only getting a word which starts with "l"
# but when we take innomatlics in this word also "l"
# l is not present in starting so it dont return that word

['l']

In [32]:
var1 = "a b b aa bbb aaaa aaaaa h b aaaaaaa"

re.findall("a*",var1)

# here it checks each word including space if space is there it gives space 
# if given char is not there it gives space in place of it

['a',
 '',
 '',
 '',
 '',
 '',
 'aa',
 '',
 '',
 '',
 '',
 '',
 'aaaa',
 '',
 'aaaaa',
 '',
 '',
 '',
 '',
 '',
 'aaaaaaa',
 '']

In [11]:
d = "aaaaa an@@@na bc abd"

re.findall("aa*",d)

['aaaaa', 'a', 'a', 'a']

In [35]:
var1 = "baa baa bb baaaa"

re.findall("ba*",var1)

# it matches each word having b and sucessing atleast zero "a"

['baa', 'baa', 'b', 'b', 'baaaa']

In [36]:
var1 = "baa baa baaabaaab baab bab baaaaaab"

re.findall("ba*b",var1)  # here it should start with b,ends with b inbetween atleast zero "a's"

['baaab', 'baab', 'bab', 'baaaaaab']

In [40]:
var1 = "baab baa baaa@baa@ab ba@ab bab b@aaaaaab"

re.findall("ba*b",var1)

# n it dont give the words which are having special characters and satisfying the conditioons

['baab', 'bab']

In [46]:
var = "aad ahidnd jknwqkn b a "

re.findall("ab*a",var)

['aa']

In [50]:
var = "aad ahidnd jknwqkn b a "

re.findall("ab*a?",var)

# it starts with a ends with a and only 0 bs to infinate b's

['aa', 'a', 'a']

In [49]:
var = "aaaaaaaaaaaaaaaaaaaa"

re.findall("a*",var)

['aaaaaaaaaaaaaaaaaaaa', '']

#### Here our quantifier calculates 0 a's and 1 a's and 2 a's upto infintity a's but here nxt line is invisible so it ives empty string after that

- Second Quantifier "+"

In [52]:
var = "baaaaaaaa b"

re.findall("ba+",var)

['baaaaaaaa']

In [53]:
var = "baaaaaaaa b"

re.findall("ba*",var)

['baaaaaaaa', 'b']

In [54]:
var = "baaaaaaaa b"

re.findall("ba+?",var)

# Non greedy version

['ba']

In [1]:
import re

a = "baa baa baab bab bb"

re.findall("ba+",a)

['baa', 'baa', 'baa', 'ba']

In [2]:
a = "baa baa baab bab bb"

re.findall("ba*",a)

['baa', 'baa', 'baa', 'b', 'ba', 'b', 'b', 'b']

In [3]:
a = "baa baa baab bab bb"

re.findall("ba+?",a)

['ba', 'ba', 'ba', 'ba']

In [6]:
a = "baa baa baab bab bb"

re.findall("ba*?",a)

# It matches starting "b" and 0 a's as "?" is used

['b', 'b', 'b', 'b', 'b', 'b', 'b', 'b']

In [55]:
var = "baaaaaaaa b"

re.findall("ba*?",var)

['b', 'b']

In [58]:
var1 = "abc "

re.findall("[a-z]*",var1)

['abc', '', '']

In [60]:
var1 = "abc Abc bCAS"

re.findall("[a-z][A-Z]*",var1)

['a', 'b', 'c', 'b', 'c', 'bCAS']

In [61]:
var1 = "abc Abc bCAS"

re.findall("[a-z][A-Z]+",var1)

['bCAS']

In [7]:
var1 = "abc Abc bcAS"

re.findall("[a-z][A-Z]*?",var1)

['a', 'b', 'c', 'b', 'c', 'b', 'c']

In [8]:
var1 = "abc Abc bCAS"

re.findall("[a-z][A-Z]+?",var1)

['bC']

In [11]:
var1 = "abc"

re.findall("[A-Z]",var1)

#when we put "[A-Z]" here it matches spaces as there is no char with uppercase
#so it gives 3 spaces for "abc"

[]

In [12]:
var1 = "abc"

re.findall("[A-Z]?",var1)

# It only matches spaces as it accepts only spaces when there is no charatcters accepts atleast spaces

['', '', '', '']

In [3]:
var1 = "abc"

re.findall("[a-z]?",var1)

['a', 'b', 'c', '']

In [8]:
var1 = "abc"

re.findall("[a-z]??",var1)

['', 'a', '', 'b', '', 'c', '']

In [35]:
var1 = "abc"

re.findall("[a-z][a-z]??",var1) 

# here frst char should print and second char should match zero times

['a', 'b', 'c']

In [36]:
var1 = "abc"

re.findall("[a-z][a-z][a-z]??",var1)

['ab']

In [20]:
var1 = "bCAS"

re.findall("[a-z][A-Z]?",var1)

['bC']

In [68]:
var1 = "bCAS"

re.findall("[a-z][A-Z]??",var1)

['b']

- Day 3 **REG-EX**

In [6]:
a = "<hari> jdbnkd <b> dwhjd </ha>"

re.findall("<.>",a)

['<b>']

In [7]:
a = "<hari> jdbnkd <b> dwhjd </ha>"

re.findall("<.*>",a)

['<hari> jdbnkd <b> dwhjd </ha>']

In [8]:
a = "<hari> jdbnkd <b> dwhjd </ha>"

re.findall("<.*?>",a)

['<hari>', '<b>', '</ha>']

In [1]:
import re

In [5]:
insta = "@hari @munnu @varshi @chintu #innomatics #ecc #hcu #pcu"

re.findall("\B@[a-zA-Z0-9]",insta)


# without using "*" it returns only one character

['@h', '@m', '@v', '@c']

In [8]:
insta = "@hari @munnu @varshi @chintu #innomatics djsafjw 344 __ \n #ecc #hcu #pcu"

re.findall("\B@[a-zA-Z0-9]*",insta)

# I am returns dragging mentions i used "*" for returning all characters

['@hari', '@munnu', '@varshi', '@chintu']

In [7]:
insta = "@hari @munnu @varshi @chintu #innomatics hdjwhdh dwdihwid #ecc #hcu #pcu"

re.findall("\B[@#][a-zA-Z0-9]*",insta)

# mentions which startw with "@#" it should return all names

['@hari',
 '@munnu',
 '@varshi',
 '@chintu',
 '#innomatics',
 '#ecc',
 '#hcu',
 '#pcu']

# Important

In [25]:
a = "ab a.b abjdj 12 34 # @ \n \n "
re.findall(".....",a)

# It dont matches new line it only matches alpha numeric and special

['ab a.', 'b abj', 'dj 12', ' 34 #']

# I explored New function **re.DOTALL**  where it matches every character including newline by "."

In [23]:
a = "ab a.b abjdj 12 34 # @ \n \n "
re.findall(r"...",a,re.DOTALL)

# in order to match \n new lines use "re.DOTALL"

['ab ', 'a.b', ' ab', 'jdj', ' 12', ' 34', ' # ', '@ \n', ' \n ']

In [3]:
var = "aa aaa aaaaaa aaaaa aaaa aaaaaa"

re.findall("a*",var)

['aa', '', 'aaa', '', 'aaaaaa', '', 'aaaaa', '', 'aaaa', '', 'aaaaaa', '']

In [4]:
var = "aa aaa aaaaaa aaaaa aaaa aaaaaa"

re.findall("a*?",var) # gives [0 and 1] a's

['',
 'a',
 '',
 'a',
 '',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '',
 'a',
 '']

In [5]:
var = "aa aaa aaaaaa aaaaa aaaa aaaaaa"

re.findall("a+",var)  #it  matches [1 to infinity]

['aa', 'aaa', 'aaaaaa', 'aaaaa', 'aaaa', 'aaaaaa']

# User defined quantifier **{a,b}**                   [a is min b is max]

In [8]:
var = "aa aaa aaaaaa aaaaa aaaa aaaaaa"

re.findall("a{5}",var)

#it returns min "5" a's
# it considers the words which contains 6 or 7 a's it takes only 5 a's as i.e is the condition

['aaaaa', 'aaaaa', 'aaaaa']

In [9]:
var = "aa aaa aaaaaa aaaaa aaaa aaaaaa"

re.findall("a{3,5}",var) # it returns min [3] max [5] a's

['aaa', 'aaaaa', 'aaaaa', 'aaaa', 'aaaaa']

In [10]:
var = "aa aaa aaaaaa aaaaa aaaa aaaaaa"

re.findall("a{,5}",var) # it returns [min 0 , max 5] a's

['aa',
 '',
 'aaa',
 '',
 'aaaaa',
 'a',
 '',
 'aaaaa',
 '',
 'aaaa',
 '',
 'aaaaa',
 'a',
 '']

In [11]:
var = "aa aaa aaaaaa aaaaa aaaa aaaaaa"

re.findall("a{4,}",var) #it returns min 4 a's max infinity

['aaaaaa', 'aaaaa', 'aaaa', 'aaaaaa']

In [19]:
var = "@hari @munnu @varshi #hcu #hcu #pcu"

re.findall("\B[@#]\w+",var)

#we can use "+" or "*" both gives same result but when it is empty "+" dont takes
#but "*" it takes when it is empty

['@hari', '@munnu', '@varshi', '#hcu', '#hcu', '#pcu']

In [18]:
var = "@hari @munnu @varshi #hcu #hcu #pcu"

re.findall("\B[@#][a-zA-Z0-9]*",var)

['@hari', '@munnu', '@varshi', '#hcu', '#hcu', '#pcu']

In [13]:
var = "aa aaa aaaaaa ____ aaaaa ## @ & aaaaaa bbbbbbbb bbbb ssss nnnn ffff jjjj aaaakkk kkkk nnn mmmm aaaaaa"

re.findall("\w{4}",var) # it matches the word which has 4same charcaters including "_"

['aaaa',
 '____',
 'aaaa',
 'aaaa',
 'bbbb',
 'bbbb',
 'bbbb',
 'ssss',
 'nnnn',
 'ffff',
 'jjjj',
 'aaaa',
 'kkkk',
 'mmmm',
 'aaaa']

In [15]:
re.findall("\W{2,5}","@@@@ $$$ &&& ** \n\n\n\n        ")


# It is matching special characters min 2 times maximum 5 times

['@@@@ ', '$$$ &', '&& **', ' \n\n\n\n', '     ', '   ']

In [14]:
re.findall("bat","bat batter batsman battt")


# It is checking the "bat" is present in string where ever it is present it returns

['bat', 'bat', 'bat', 'bat']

In [23]:
re.findall("bat+","bat batter batsman battt")

# It is checking "ba" and "t" should occur 1 time 2 time upto infinity

['bat', 'batt', 'bat', 'battt']

# Grouping with "( )"

In [24]:
re.findall("(bat)+","bat batter batsman battt")

# now i am considering it as a group so that it is easy to read

['bat', 'bat', 'bat', 'bat']

In [22]:
re.findall("(bat)+","bat batbat batbatbat batbatbatbat")

#it matches bat 0 or more than 1 like bat,batbat,batbatbat

['bat', 'bat', 'bat', 'bat']

In [18]:
re.findall("(bat)*(ball)","bat batter batsman battt") 

 # as there is no nat ball it returned empty

[]

In [19]:
re.findall("(bat)*(ball)","batbatball ballbat batter batsmanball battt")

[('bat', 'ball'), ('', 'ball'), ('', 'ball')]

In [25]:
mo = re.search("(bat)*(ball)","batbatball ballbat batter batsmanball battt") 

#i got match at this group

In [31]:
mo.groups()

('bat', 'ball')

In [33]:
mo.group(1)

'bat'

In [35]:
mo.group(2)

'ball'

In [39]:
mo

In [ ]:
#?P<GROPUNAME> #NAMED GROUP
# "when ever we need particular groups we use this when the data is huge"

In [40]:
mo = re.search("(?P<G1>bat)","batbatball ballbat batter batsmanball battt")

In [42]:
mo.group("G1")

'bat'

In [44]:
mo = re.search("(?P<G2>ball)","batbatball ballbat batter batsmanball battt") 

mo.group("G2")

'ball'

In [25]:
# Flags

In [45]:
a = "abc ABC"

re.findall("abc",a)

['abc']

- Flags = **re.IGNORECASE**

In [49]:
a = "abc ABC"

re.findall("abc",a,flags=re.IGNORECASE)

#Here both are same "abc" and "ABC" but regex is case sensitive it dont return upper case
# To accept both cases we use flags=re.IGNORECASE

['abc', 'ABC']

In [28]:
x = "datascience DATASCIENCE"

re.findall("datascience",x)

['datascience']

In [30]:
x = "datascience DATASCIENCE"

re.findall("datascience",x,flags=re.IGNORECASE) #When we use parametre flags it ignores "case"

['datascience', 'DATASCIENCE']

In [32]:
x = "hari HARI DATA data science SCIENCE ANIMATION animation"

re.findall("[a-z][a-z][a-z][a-z]",x,flags=re.IGNORECASE)

['hari',
 'HARI',
 'DATA',
 'data',
 'scie',
 'SCIE',
 'ANIM',
 'ATIO',
 'anim',
 'atio']

In [35]:
x="biryani\nbiryani"

re.findall("^biryani",x) 

#^ is used for startswith

['biryani']

In [42]:
x="biryani\nbiryani\nbiryani abiryani cbiryani"

re.findall("biryani",x)

['biryani', 'biryani', 'biryani', 'biryani', 'biryani']

In [43]:
x="biryani\nbiryani\nbiryani abiryani cbiryani"

re.findall("^biryani",x)

# It is not matching biryani which is in second line

['biryani']

- Flags = **re.MULTILINE**

In [52]:
x="biryani\nbiryani\nbiryani\nbiryani"

re.findall("^biryani",x,flags=re.MULTILINE)

# It matches biryani in anyline as we use "flags=re.MULTILINE"
# It considers whole as one string

['biryani', 'biryani', 'biryani', 'biryani']

In [53]:
x="biryani\nbiryani\nbiryani\nbiryani"

re.findall("^biryani",x,re.MULTILINE)

# Without using flags we can directly give re.DOTALL

['biryani', 'biryani', 'biryani', 'biryani']

- Flags = **re.DOTALL**

In [40]:
 x="biryani\nbiryani"

re.findall(".",x,flags=re.DOTALL)

['b', 'i', 'r', 'y', 'a', 'n', 'i', '\n', 'b', 'i', 'r', 'y', 'a', 'n', 'i']

- re.sub("pattern","replacement","string")

In [60]:
a = "<hari> gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>"

re.sub("<.*?>","",a)

# It replaces tags with no space

' gdhsidb ihdiwhd hgidshdih  sdw '

In [61]:
a = "<hari> gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>"

re.sub("<.*?>","@",a)

# It replaces the pattern with @@@@

'@ gdhsidb ihdiwhd hgidshdih @ sdw@ @'

In [62]:
a = "<hari> gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>"

re.findall("<.*?>",a)

['<hari>', '<m>', '</hari>', '<>']

In [65]:
a = "<hari> gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>"

re.findall("<.+",a)

# It returns whole "a"

['<hari> gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>']

In [63]:
a = "<hari> gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>"

re.sub("<.*?>","",a,count=1)

# if i want to replace 1st html tag use count=1 as the parametre
# when we dont use 1st html tag we replace that and remaining all are onmsidered

' gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>'

In [66]:
a = "<hari> gdhsidb ihdiwhd hgidshdih <m> sdw</hari> <>"

re.sub("<.*?>","",a,count=2)

' gdhsidb ihdiwhd hgidshdih  sdw</hari> <>'

In [47]:
text = "biryani Biryani"

re.sub(r"\bbiryani\b","",text,count=0,flags=re.IGNORECASE)

# Where ever biryani is there remove it

' '

In [71]:
text = "<html> asda asda <b> sada</br> <>"

re.sub(".+","",text)

#replacing each and every character with empty space

''

In [72]:
import re

In [73]:
a = "ddkb1 1 1 23 3 4 5 5 5"

re.findall("\d\d|\d\d\d",a)

# It matched 2 digits so we gave or condition it wont match 3 digits

['23']

In [75]:
text = "uduwd % & * <  djwqhihfif ."

re.findall("[.]",text)

# when we use nay character in meta class use in "[]"

['.']